<<<<<<< HEAD
html,
body {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.undraw_social-box {
    width: 50%;
    gap: 16px;
}

.undraw_happy {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 222px 0;
    align-items: center;
    max-width: 1110px;
    width: 100%;
    gap: 155px;
    flex-direction: row-reverse
}

.undraw_happy-tittle {
    font-size: 36px;
    line-height: 48px;
    color: #091133;
}

.undraw_happy-description {
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;
    width: 445px;
    height: 166px;
}

.undraw_social {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    max-width: 1110px;
    width: 100%;
    gap: 125px;
    flex-direction: row-reverse
}

.undraw_social-tittle {
    font-size: 36px;
    line-height: 48px;
    color: #091133;
}

.undraw_social-description {
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;
    width: 445px;
    height: 166px;
}

.undraw_mention {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 222px 0;
    align-items: center;
    max-width: 1110px;
    width: 100%;
    gap: 172px;
    flex-direction: row-reverse
}

.undraw_mention-tittle {
    font-size: 36px;
    line-height: 48px;
    color: #091133;
}

.undraw_mention-description {
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;
    width: 445px;
    height: 166px;
}

.undraw_mention-botton {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: white;
    background-color: #111B47;
    width: 150px;
    height: 32px;
    border: 2px;
    border-radius: 2px;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
=======
html,
body {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.undraw_social-box {
    width: 50%;
    gap: 16px;
}

.undraw_happy {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 222px 0;
    align-items: center;
    max-width: 1110px;
    width: 100%;
    gap: 155px;
    flex-direction: row-reverse
}

.undraw_happy-tittle {
    font-size: 36px;
    line-height: 48px;
    color: #091133;
}

.undraw_happy-description {
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;
    width: 445px;
    height: 166px;
}

.undraw_social {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    max-width: 1110px;
    width: 100%;
    gap: 125px;
    flex-direction: row-reverse
}

.undraw_social-tittle {
    font-size: 36px;
    line-height: 48px;
    color: #091133;
}

.undraw_social-description {
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;
    width: 445px;
    height: 166px;
}

.undraw_mention {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 222px 0;
    align-items: center;
    max-width: 1110px;
    width: 100%;
    gap: 172px;
    flex-direction: row-reverse
}

.undraw_mention-tittle {
    font-size: 36px;
    line-height: 48px;
    color: #091133;
}

.undraw_mention-description {
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;
    width: 445px;
    height: 166px;
}

.undraw_mention-botton {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: white;
    background-color: #111B47;
    width: 150px;
    height: 32px;
    border: 2px;
    border-radius: 2px;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
>>>>>>> e817c6defb99b181252f88dc03286784abfd5ae4
}